extends layout

block content

  if songs
    canvas#chart(width="400px",height="400px")
    
    script.
      var ctx = document.getElementById("chart").getContext("2d");
      var myNewChart = new Chart(ctx).Line(songs);

    //- ul
    //-   each months, year in songs
    //-     if months
    //-       each realSongs, month in months
    //-         if realSongs
    //-           li.bar(style="height:" + (realSongs.length * 2) + "px;")
    //-             span= realSongs.length
    //-         else
    //-           li.bar
