doctype html
html
  head
    title Movee
    link(rel='stylesheet', href='/css/vendor.css')
    link(rel='stylesheet', href='/css/movies.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    script(src="/js/movies.js")
    script(src="/js/vendor.js")
  body
    .container
      block content


