html,body{height:100%}a{color:#000;}a:hover{color:#000;text-decoration:underline}ul{list-style:none;margin:0;padding:0}input:focus{outline:none}.container{text-align:center;height:100%;width:100%;}.container ul{bottom:0;left:0;position:fixed;right:0}.container li.bar{background:#333;display:inline-block;height:1px;margin-right:5px;position:relative;vertical-align:bottom;width:10px;}.container li.bar span{-webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;-ms-transition:all 300ms ease;-o-transition:all 300ms ease;transition:all 300ms ease;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg);color:#999;opacity:0;position:absolute;top:-30px;left:-7px}.container li.bar:hover span{opacity:1}

